<div class="card-container">
    <md-card>
        <md-card-title>Basic Request</md-card-title>

        <button md-raised-button
                color="primary"
                (click)="makeRequest( search.value )">Submit
        </button>
        <div *ngIf="loading">loading...</div>

        <md-input #search placeholder="search"></md-input>

    </md-card>
</div>



<div class="card-container">
    <md-card class="art-object"
            *ngFor="let artObject of artObjects">
        <div class="thumbnail" *ngIf="artObject && artObject.webImage">
            <img src="{{artObject.webImage.url}}" class="md-card-thumbnail" alt="image caption">
        </div>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{artObject.title}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-title>
            <md-card-content>
                <p>{{artObject.principalOrFirstMaker}}</p>
            </md-card-content>
        </md-card-title>
    </md-card>
</div>



